<footer class="footer">
    <div class="footer__decoration">
        <div class="footer__dotted-line footer__dotted-line--left">

        </div>
        <div class="footer__rectangle footer__rectangle--left">

        </div>
        <div class="footer__logo">
            <img src="img/logo.jpg" alt="Logo">
        </div>
        <div class="footer__rectangle footer__rectangle--right">
            
        </div>
        <div class="footer__dotted-line footer__dotted-line--right">
            
        </div>
    </div>
    <container class="footer__container">
        <p class="footer__copyright">
            &copy; Keramika Rosice
         </p>
         <p class="footer__terms">
             Obchodní podmínky a ochrana osobních údajů
         </p>
         <p class="footer__reference">
             Vytvoříl Amnion Web
         </p>
    </container>
</footer>