<footer class="footer">
    <p class="footer__copyright">
       &copy; Keramika Rosice
    </p>
    <p class="footer__terms">
        Obchodní podmínky a ochrana osobních údajů
    </p>
    <p class="footer__reference">
        Vytvoříl Amnion Web
    </p>
</footer>