<div class="gradient">
    <div class="gradient__top">
    </div>
    <div class="gradient__bottom">
        <div class="gradient__bottom-left"></div>
        <div class="gradient__bottom-right"></div>
    </div>
</div>
