<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.jpg">
    <meta name="description" content="Výroba a prodej točené užitkové keramiky a kameniny, drobných keramických dekorací, šperků, přívěsků apod.">
    <link rel="canonical" href="https://www.keramika-rosice.cz/<% if (url) { %><%= url %><% } %>" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="Keramika Rosice | <%= title %>" />
    <meta property="og:description" content="Výroba a prodej točené užitkové keramiky a kameniny, drobných keramických dekorací, šperků, přívěsků apod." />
    <meta property="og:url" content="https://www.keramika-rosice.cz/<% if (url) { %><%= url %><% } %>" />
    <meta property="og:image" content="https://www.keramika-rosice.cz/img/index-photo.jpg" />
    <meta property="og:image:secure_url" content="https://www.keramika-rosice.cz/img/index-photo.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:locale" content="cs_CZ" />
    <meta property="og:type" content="website" />
    <title>Keramika Rosice | <%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
