.cart-item {
    width: 100%;
    border: 1px solid $color-secondary;
    box-shadow: 0 2px 4px 1px $color-black-overlay-lightest;

    display: flex;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    @media only screen and (max-width: 900px) {
        width: 28rem;
        padding: 2rem;
        border: 1px solid $color-secondary;
        border-radius: 1rem;

        position: relative;

        &:not(:last-child) {
            margin-bottom: 8rem;
        }
        &:last-child {
            margin-bottom: 4rem;
        }
    }

    &__photo {
        height: 15rem;
        width: 15rem;
        background-color: $color-secondary;

        flex-shrink: 0;

        @media only screen and (max-width: 1450px) {
            height: 17.5rem;
            width: 17.5rem;
        }
        @media only screen and (max-width: 900px) {
            display: none;
        }

        &--mobile {
            width: 100%;

            @media only screen and (min-width: 901px) {
                display: none;
            }
        }
    }
    &__content {
        width: 100%;
        padding: 2rem 3rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width: 900px) {
            padding: 0;
        }
    }
    &__upper-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        position: relative;

        @media only screen and (max-width: 900px) {
            margin-bottom: 1rem;
            align-items: center;
            justify-content: center;

            position: static;
        }

        & .close-button {
            transform: translate(50%, -50%);

            top: -2rem;
            right: -3rem;
    
            &:hover {
                transform: translate(50%, -50%) rotate(-10deg);
            }

            @media only screen and (max-width: 900px) {
                transform: translate(-50%, -50%);
                
                top: 0;
                left: 0;
                right: unset;
            }

            &::after, &::before {
                background-color: $color-secondary;
            }
        }
    }
    &__delete {
        width: 2.5rem;
        height: 2.5rem;
        background-color: transparent;
        background-image: none;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 50%;

        font-family: $font-secondary;
        color: $color-primary;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all .2s;

        &:hover {
            font-size: $font-big;
        }
    }
    &__lower-row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 900px) {
            margin-top: 2rem;

            justify-content: center;
        }
    }
    &__amount-box {
        font-size: $font-regular;

        display: flex;
        flex-direction: row;
        align-items: center;

        @media only screen and (max-width: 900px) {
            margin-bottom: 2rem;
            font-size: $font-big;
        }

        &__amount {
            margin: 0 2rem;
        }
        &__btn {
            width: 3rem;
            height: 3rem;
            background-color: $color-secondary;
            background-image: none;
            border-radius: 1rem;
            border: none;
            outline: none;
            cursor: pointer;

            font-size: $font-regular;
            font-weight: 800;
            color: $color-white;
            text-shadow: 0 0 2px $color-black-overlay-light;

            @media only screen and (max-width: 900px) {
                width: 4rem;
                height: 4rem;

                font-size: $font-big;
            }
        }
    }
    &__price {
        font-size: $font-regular;

        @media only screen and (max-width: 900px) {
            width: 50%;
            height: 5rem;
            transform: translate(-50%, 50%);
            border: 1px solid $color-secondary;
            border-radius: 1rem;
            background-color: $color-white;
            
            font-size: $font-big;

            display: flex;
            align-items: center;
            justify-content: center;
            
            position: absolute;
            left: 50%;
            bottom: 0;
        }
    }
}