.picture {
    height: 36rem;

    position: relative;

    &__img {
        width: 100%;
        height: 100%;
        box-shadow: 1px 1px 10px 1px $color-black-overlay;
        transform: rotate(0deg);
            
        object-fit: cover;
        
        position: relative;

        animation: headerImgTurn 1.5s forwards;

        @media only screen and (max-width: 1000px) {
            animation: none;
        }
    }
    &__bg {
        height: 100%;
        width: 100%;
        background-color: $color-secondary;
        transform: rotate(-3deg);

        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        animation: headerBackImgTurn 1.5s forwards;
        @media only screen and (max-width: 1000px) {
            display: none;
        }
    }
}