.product {
  width: var(--product-width);
  height: var(--product-width);
  transition: transform 0.5s;

  font-family: $font-secondary;

  display: flex;
  flex-direction: column;

  position: relative;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    margin-right: 5rem;
    max-height: 30rem;
  }

  &__modal {
    height: calc(100% - 4rem);
    width: 100%;
    background-color: rgba($color-black, 0.8);

    display: none;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    &--toggled {
      display: flex;
      flex-direction: column;
      align-items: center;

      ~ .product__info .to-cart-button {
        visibility: hidden;
      }
    }

    & .to-cart-button {
      margin-top: 6rem;

      font-size: 2rem;

      @media screen and (max-width: 1400px) {
        margin-top: 4rem;
      }
      @media screen and (max-width: 1100px) {
        margin-top: 6rem;
      }
      @media screen and (max-width: 1000px) {
        margin-top: 4rem;
      }
      @media screen and (max-width: 850px) {
        margin-top: 3rem;
      }
      @media screen and (max-width: $bp-eshop-mobile) {
        margin-top: 6rem;
      }

      &::before {
        width: 5rem;
        height: 5rem;

        left: -6rem;
      }
      & .close-button {
        @media screen and (max-width: 850px) {
          top: 0;
          right: 0;
        }
      }
    }
    &__amount {
      margin-top: 6rem;

      color: $color-white;
      font-size: $font-big;

      @media screen and (max-width: 1400px) {
        margin-top: 4rem;
      }
      @media screen and (max-width: 1100px) {
        margin-top: 6rem;
      }
      @media screen and (max-width: 1000px) {
        margin-top: 4rem;
      }
      @media screen and (max-width: 850px) {
        margin-top: 3rem;
      }
      @media screen and (max-width: $bp-eshop-mobile) {
        margin-top: 6rem;
      }
    }
    &__input {
      height: 4rem;
      padding: 1rem;
      margin-top: 0.5rem;
      outline: none;
      border: none;

      -moz-appearance: textfield;

      font-family: "PT Sans";
      font-size: 1.6rem;

      display: flex;
      align-items: center;
      justify-content: center;

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      &.invalid {
        border: 2px solid $color-failed;
      }
    }    
    & .close-button {
      top: 1rem;
      right: 1rem;
    }
  }
  &__info {
    height: 5rem;
    width: 100%;
    background-color: $color-black;
    
    display: flex;
    align-items: center;
  
    position: relative;
    z-index: 1;
  }

  & .to-cart-button {
    margin-left: 6rem;

    &::before {
      width: 3rem;
      height: 3rem;

      left: -4rem;
    }
  }
  & .product__body {
    height: calc(100% - 4rem);

    overflow: hidden;
    position: relative;

    &:hover {
      .product__description {
        transform: translateX(0);
      }
    }
    &::before {
      content: "i";
      width: 2.5rem;
      height: 2.5rem;
      border: 3px solid $color-white;
      border-radius: 50%;

      color: $color-white;
      font-weight: bold;

      display: flex;
      justify-content: center;
      align-items: center;
      
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  }
  &__price {
    margin-right: 2rem;
    margin-left: auto;

    color: $color-white;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__description {
    height: 100%;
    width: 100%;
    background-color: rgba($color-black, 0.6);
    transform: translateX(100%);

    position: absolute;
    top: 0;
    left: 0;
    
    transition: transform 0.2s ease-out;
  }
  &__description-text {
    width: 100%;
    padding: 4rem;

    color: $color-white;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    transition: transform 0.5s;

    @media screen and (max-width: 1100px) {
      padding: 2rem;
    }
  }
  &__name {
    width: 100%;

    text-align: center;
    font-size: $font-bigger;
    text-transform: capitalize;

    position: absolute;
    left: 50%;
    bottom: -.5rem;
    transform: translate(-50%, 100%);
  }
}


