.to-cart-button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: clicker;

    color: $color-white;
    font-family: $font-secondary;
    font-size: $font-regular;

    position: relative;
    
    transition: transform .2s;
    
    &::before {
        content: "";
        background-image: url('../img/shopping-cart.svg');
        background-size: cover;

        display: block;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            color: $color-secondary;
    
            transform: translateY(-1px);
        }
    }
}