<%- include('./includes/head.ejs') %>
</head>
<body>

    <%- include('./includes/header.ejs') %>
    <main class="main error">
        <!--MAIN-->
        <section class="error">
            <h1 class="heading-1">ERROR 404</h1>
            <h2 class="heading-4">STRÁNKA NENALEZENA</h2>
            <div class="error__cta"><a href="/">DOMŮ</a></div>
        </section>
    </main>

    <%- include('./includes/footer.ejs') %>
<%- include('./includes/end.ejs') %>