*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem; }

body {
  font-family: 'PT Sans', sans-serif; }

.header {
  padding-top: 3rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1; }
  .header__nav-list {
    list-style: none;
    display: flex; }
  .header__nav-item {
    margin-right: 5rem; }
  .header__logo {
    margin-left: 4rem; }
  .header a {
    text-decoration: none;
    color: black; }

:root {
  --gradient-width: 3rem; }

.gradient {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: absolute;
  top: 0; }
  .gradient__top {
    height: var(--gradient-width);
    display: flex; }
  .gradient__bottom {
    display: flex;
    justify-content: space-between;
    flex-grow: 1; }
  .gradient__top-left {
    width: var(--gradient-width);
    background-image: linear-gradient(to bottom, #f5f2ec, transparent), linear-gradient(to right, #f5f2ec, transparent); }
  .gradient__top-right {
    width: var(--gradient-width);
    background-image: linear-gradient(to bottom, #f5f2ec, transparent), linear-gradient(to left, #f5f2ec, transparent); }
  .gradient__top-mid {
    background-image: linear-gradient(to bottom, #f5f2ec, #FFF);
    flex-grow: 1; }
  .gradient__bottom-left {
    background-image: linear-gradient(to right, #f5f2ec, #FFF);
    width: var(--gradient-width); }
  .gradient__bottom-right {
    background-image: linear-gradient(to left, #f5f2ec, #FFF);
    width: var(--gradient-width); }
