///////////////////
///// FONT SIZES
$font-largest: 4rem;
$font-large: 3.5rem;

//////////////////
///// COLORS

// Colors
$color-primary: #AE4900;

$color-secondary: #E9E2D4;
$color-secondary-light: lighten($color-secondary, 7%);

// Shades
$color-white: #FFF;
