.index {
    
    &__header {
        padding: 12rem 15rem 15rem 15rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media only screen and (min-width: 1950px) {
            justify-content: center;
        }
        @media only screen and (max-width: 1600px) {
            padding: 12rem 10rem 15rem 10rem;
        }
        @media only screen and (max-width: 1350px) {
            padding: 12rem 5rem 15rem 5rem;
        }
        @media only screen and (max-width: 1000px) {
            flex-direction: column;
            padding: 12rem 0 15rem 0;
        }
        @media only screen and (max-width: 550px) {
            padding-top: 8rem;
        }

        &__text {
            margin-left: 8%;

            display: flex;
            flex-direction: column;

            @media only screen and (min-width: 1950px) {
                margin-left: 0;
                margin-right: 30rem;
            }
            @media only screen and (max-width: 1550px) {
               margin-left: 4%;
            }
            @media only screen and (max-width: 1450px) {
                margin-left: 8%;
            }
            @media only screen and (max-width: 1050px) {
                margin-left: 4%;
            }
            @media only screen and (max-width: 1000px) {
                margin-left: 0;
                align-items: center;
            }
            
            & .heading-1 {
                margin-bottom: 2rem;
                animation: headerH1SlideIn 1.5s forwards ease-out;

                @media only screen and (max-width: 1450px) {
                    font-size: $font-large;
                }
                @media only screen and (max-width: 400px) {
                    font-size: $font-biggest;
                }
            }
            & .heading-2 {
                margin-bottom: 12rem;              
                opacity: 0;
                transform: translateX(-20%);
                
                animation: headerH2SlideIn 1s .5s forwards ease-out;

                @media only screen and (max-width: 1450px) {
                    font-size: $font-biggest;
                }
                @media only screen and (max-width: 1000px) {
                    margin-bottom: 5rem;
                    transform: translateX(0);
                    opacity: 1;

                    animation: none;
                }
                @media only screen and (max-width: 1200px) {
                   margin-bottom: 6rem;
                }
                @media only screen and (max-width: 400px) {
                    font-size: $font-bigger;
                    margin-bottom: 0;
                }
            }
            &__cta {
                padding: 2rem 10rem;
                border: 2px solid $color-primary;
                border-radius: 3rem;
                border-top-right-radius: 10rem;
                box-shadow: -2px 2px 5px 3px $color-primary-overlay;
                
                color: $color-primary;
                font-size: $font-big;

                align-self: center;

                transition: all .2s;

                &--desktop {
                    &:hover {
                        box-shadow: -2px 2px 5px 1px $color-secondary;
                        transform: translate(3px, 1px);
                    }
                    @media only screen and (max-width: 1000px) {
                        display: none;
                    }
                }
                &--mobile {
                    margin-bottom: 5rem;
                    transform: translateY(15rem);

                    @media only screen and (min-width: 1001px) {
                        display: none;
                    }
                    @media only screen and (max-width: 1000px) {
                        margin-bottom: 8rem;
                    }
                    @media only screen and (max-width: 400px) {
                        padding: 2rem 6rem;
                        border-radius: 1.5rem;
                        border-top-right-radius: 6rem;

                        font-size: $font-regular;
                    }
                }
            }
        }
        &__photo {
            width: 60rem;
            height: 50rem;
            margin-right: 5%;

            position: relative;

            @media only screen and (max-width: 1450px) {
                width: 50rem;
                height: 40rem;
            }
            @media only screen and (max-width: 1200px) {
                width: 40rem;
                height: 30rem;
            }
            @media only screen and (max-width: 1000px) {
                width: 100vw;
                height: 55rem;
                margin-right: 0;

                transform: translateY(8rem);
            }
            @media only screen and (max-width: 600px) {
                height: 45rem;
            }
            @media only screen and (max-width: 500px) {
                height: 35rem;
            }
            @media only screen and (max-width: 420px) {
                height: 30rem;
            }
            @media only screen and (max-width: 320px) {
                height: 25rem;
            }

            &__background {
                height: 100%;
                width: 100%;
                background-color: $color-secondary;
                transform: rotate(-3deg);

                position: absolute;
                z-index: 1;

                animation: headerBackImgTurn 1.5s forwards;
                @media only screen and (max-width: 1000px) {
                    display: none;
                }
            }
            &__image {
                width: 100%;
                height: 100%;
                box-shadow: 1px 1px 10px 1px $color-black-overlay;
                transform: rotate(0deg);
                
                position: absolute;
                z-index: 2;

                animation: headerImgTurn 1.5s forwards;

                @media only screen and (max-width: 1000px) {
                    animation: none;
                    
                    object-fit: cover;
                }
            }
        }      
    }
}