//////////////////
///// COLORS

// Colors
$color-primary: #AE4900;
$color-primary-light: lighten($color-primary, 60%);

$color-secondary: #E9E2D4;
$color-secondary-light: lighten($color-secondary, 7%);

// Shades
$color-white: #FFF;
$color-black: rgba(0, 0 , 0, 1);

$color-grey: #cecece;
$color-grey-light: lighten($color-grey, 5%);
$color-grey-lightest: lighten($color-grey, 30%);

$color-black: black;
$color-black-overlay: rgba($color-black, .3);
$color-black-overlay-light: rgba($color-black, .15);
$color-black-overlay-lightest: rgba($color-black, .05);

/////////////////
///// TYPOGRAPHY

// FONT FAMILIES
$font-secondary: 'Charm', 'cursive';

// FONT SIZES
$font-largest: 6rem;
$font-large: 4.5rem;
$font-biggest: 3.5rem;
$font-bigger: 2.5rem;
$font-big: 2.2rem;
$font-regular: 1.8rem;

////////////////
///// BPs
$bp-eshop-mobile: 700px;
