body {
    font-family: 'PT Sans', sans-serif;
}

//HEADINGS

.heading-2 { 
    font-weight: 400;
    font-family: $font-secondary;
    font-size: 4rem;
}
.heading-3 {
    font-weight: 400;
    font-family: $font-secondary;
}