body {
    font-family: 'PT Sans', sans-serif;
}
.heading-1 {
    font-size: $font-largest;
    font-family: 'Charm', cursive;
    font-weight: 400;
}
.heading-2 {
    font-size: $font-large;
    font-family: 'Charm', cursive;
    font-weight: 400;
}
