body {
    font-family: 'PT Sans', sans-serif;
}

/////
// HEADINGS
/////
.heading-1 {
    font-size: $font-largest;
    font-family: 'Charm', cursive;
    font-weight: 400;
}
.heading-2 {
    font-size: $font-large;
    font-weight: 400;
    font-family: $font-secondary;
}
.heading-3 {
    font-weight: 400;
    font-family: $font-secondary;
}
