//////////////////
///// LOCAL VARIABLES
:root {--gradient-width: 3rem;}

//////////////////
///// STYLES
.gradient {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    top: 0;

    &__top {
        height: var(--gradient-width);
        width: 100%;
        background-image: linear-gradient(to bottom, $color-secondary-light, transparent);

        display: flex;

        position: absolute;
        top: 0;
        left: 0;
    }
    &__bottom {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &__bottom-left {
        background-image: linear-gradient(to right, $color-secondary-light, transparent);
        width: var(--gradient-width);
    }
    &__bottom-right {
        background-image: linear-gradient(to left, $color-secondary-light, transparent);
        width: var(--gradient-width);
    }
}