//VARIABLES
$bp-header-medium: 1000px;
$bp-header-mobile: 700px;

$hamburger-width: 5rem;
$hamburger-plate-height: .8rem;
$hamburger-hover-offset: .3rem;
//

.header {
    padding-top: 3rem;
    background-color: transparent;
    overflow: hidden;

    display: flex;
    justify-content: space-between;

    position: relative;
    z-index: 2;

    @media screen and (max-width: $bp-header-medium) {
        padding-top: 0;

        flex-direction: column-reverse;
        align-items: center;
    }

    &__cart-icon {
        position: relative;

         svg {
            fill: $color-black;
            width: 4rem;
            height: 4rem;

            @media screen and (max-width: $bp-header-medium) {
                fill: white;
            }
        }
    }
    &__cart-amount {
            background-color: $color-failed;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            padding-bottom: 2px;

            color: white;
            text-align: center;
            font-weight: bold;
            font-size: 1.6rem;

            display: none;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 50%;
    }
    &__nav {
        overflow: hidden;

        position: relative;
        z-index: 2;
        
        @media screen and (max-width: $bp-header-medium) {
            background-color: $color-primary;
            width: 100%;
            height: 8rem;
            
            display: flex;
        }
        @media screen and (max-width: $bp-header-mobile) {
            height: auto;

            flex-direction: column;
            align-items: flex-end;

            animation: headerShiftIn 1s;
        }
    }
    &__nav-button {
        height: 8rem;
        margin-right: 3rem;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        display: none;
        
        @media screen and (max-width: $bp-header-mobile) {
            display: block;
        }
        @media (hover: hover) {
            &:hover {
                :first-child::before {
                    transform: translateY(calc(-2*(#{$hamburger-plate-height}) - #{$hamburger-hover-offset}));
                }
                :first-child::after {
                    transform: translateY(calc(#{$hamburger-plate-height} + #{$hamburger-hover-offset}));
                }
            }
        }

        &--hide {
            :first-child::before {
                transform: translateY(calc(-2*(#{$hamburger-plate-height}) - #{$hamburger-hover-offset}));
            }
            :first-child::after {
                transform: translateY(calc(#{$hamburger-plate-height} + #{$hamburger-hover-offset}));
            }

            & ~ .header__nav-list {

                &::after {
                    animation: headerShiftIn .1s;
                }
            }
        }
        &--hiding {
            animation: doNothing .2s;
        }
    }
    &__nav-hamburger {
        height: $hamburger-plate-height;
        width: $hamburger-width;
        background-color: $color-white;

        &::before,
        &::after {
            content: "";
            height: $hamburger-plate-height;
            background-color: $color-white;
            transition: all .2s;

            display: block;
        }
        &::before {
            transform: translateY(calc(-2*#{$hamburger-plate-height}));
        }
        &::after {
            transform: translateY(#{$hamburger-plate-height});
        }
    }
    &__nav-list {
        overflow: hidden;
        list-style: none;

        display: flex;
        align-items: center;

        @media screen and (max-width: $bp-header-medium) {
            width: 100%;

            justify-content: flex-end;
        }
        @media screen and (max-width: $bp-header-mobile) { 
            background-color: $color-white;
            padding: 1rem 0;

            z-index: 10;
            position: relative;

            flex-direction: column;
            align-items: flex-end;

            &--hidden {
                display: none;
            }

            &--visible {
                display: flex;
            }

            &--hiding {
                display: flex;
            }
 
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: $color-primary;
                
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;

                display: block;

                animation: headerShiftOut .1s forwards;
            }
        }
    }
    &__nav-item {
        overflow: hidden;
        margin-right: 5rem;
        
        transition: all .2s;
        
        &:hover {
            transform: translateY(-3px);
        }
    
        @media screen and (max-width: $bp-header-medium) {
            
        }
        @media screen and (max-width: $bp-header-mobile) {
            margin-right: 3rem;
            margin-bottom: 2rem;

            text-align: right;

            &--hidden {
                display: none;
            }

            &--visible {
                display: block;

                animation: headerShiftIn .2s forwards;
            }

            &--hiding {
                animation: headerShiftOut .2s forwards;
            }
        }
    }
    &__logo {
        margin-left: 4rem;

        @media screen and (max-width: $bp-header-medium) {
            margin-left: 0;
            margin-top: 5rem;

            align-self: center;
        }
    }
    &__backdrop {
        width: 100%;
        height: 100vh;

        display: none;
    
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        &--visible {
            display: block;
        }
        &--hiding {
            display: block;
            
            animation: doNothing .2s;
        }
        &--hidden {
        }
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 2rem;

        @media screen and (max-width: $bp-header-medium) {
           color: $color-white;
        }
        @media screen and (max-width: $bp-header-mobile) {
            font-size: 2.5rem;
        }
    }
}
