<nav class="navigation">
    <h3 class="navigation__heading">MENU</h3>
    <ul class="navigation__list">
        <li class="navigation__item">Domů</li>
        <li class="navigation__item">Produkty</li>
        <li class="navigation__item">Kategorie</li>
        <li class="navigation__item">Objednávky</li>
    </ul>
</nav>