.category-box {
    width: 35rem;
    padding-left: 3rem;
    margin: 5rem;
    background-color: $color-black;

    &__heading {
        height: 5rem;
        padding: 0 2rem;

        text-transform: capitalize;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__subcategories {
        width: 100%;
        max-height: 24rem;
        background-color: $color-white;
        overflow-y: auto;
    }
    &__subcategory {
        height: 6rem;
        padding: 0 2rem;
        background-color: $color-white;

        text-transform: capitalize;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &:nth-child(even) {
            background-color: $color-grey-light;
        }
    }
    &__edit-btn {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: "?";
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            border: 3px solid $color-white;
            border-radius: 50%;

            color: $color-white;
            font-size: $font-regular;
            font-weight: 900;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--dark {
            &::before {
                border: 3px solid $color-black;
                
                color: $color-black;
            }
        }
    }
}