.item-list {
    width: 100%;

    border-collapse: collapse;

    & tr {
        height: 5rem;
    }

    &__options {
        margin-bottom: 4rem;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        width: 100%;
    }
    &__heading {
        background-color: $color-black;

        color: $color-white;
        letter-spacing: .2rem;

        & th {
            font-weight: 400;
        }
    }
    &__row {
        background-color: $color-grey-light;

        &:nth-child(even) {
            background-color: $color-white;
        }

        &--red {
            background-color: salmon !important;
        }
        &--green {
            background-color: lightgreen !important;
        }
        &--yellow {
            background-color: blanchedalmond !important;
        }
        &--white {
            background-color: $color-white !important;
        }

        & td {
            border-left: 1px solid $color-grey;
            border-right: 1px solid $color-grey;

            text-align: center;
        }
    }
}