.category-box {
    width: 35rem;
    padding-left: 3rem;
    margin: 5rem;
    background-color: $color-black;

    &__heading {
        height: 5rem;
        padding: 0 2rem;

        text-transform: capitalize;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__subcategories {
        width: 100%;
        max-height: 24rem;
        background-color: $color-white;
        overflow-y: auto;
    }
    &__subcategory {
        height: 6rem;
        padding: 0 2rem;
        background-color: $color-white;

        text-transform: capitalize;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &:nth-child(even) {
            background-color: $color-grey-light;
        }
    }
    &__edit-btn {

    }
}