<%- include('../includes/head.ejs') %>
</head>
<body>
    
    <main class="main index">
        <section class="index__header">
            <div class="index__header__text">
                <h1 class="heading-1">Keramika z Rosic</h1>
                <h2 class="heading-2">Vlastimily Nepevné</h2>
            </div>
            <div class="index__header__photo">
                <img src="" alt="" class="index__header__photo__image">
                <div class="index__header__photo__background"></div>
            </div>
        </section>
    </main>

    <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>